/* Resetting some default styles */
body {
    margin: 0;
    background-color: pink;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height:50vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: gray;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}